.row {
  clear: both; }

.grid-small-1 {
  width: 6.16667%;
  margin-left: 2%;
  float: left;
  box-sizing: border-box; }

.grid-small-2 {
  width: 14.33333%;
  margin-left: 2%;
  float: left;
  box-sizing: border-box; }

.grid-small-3 {
  width: 22.5%;
  margin-left: 2%;
  float: left;
  box-sizing: border-box; }

.grid-small-4 {
  width: 30.66667%;
  margin-left: 2%;
  float: left;
  box-sizing: border-box; }

.grid-small-5 {
  width: 38.83333%;
  margin-left: 2%;
  float: left;
  box-sizing: border-box; }

.grid-small-6 {
  width: 47%;
  margin-left: 2%;
  float: left;
  box-sizing: border-box; }

.grid-small-7 {
  width: 55.16667%;
  margin-left: 2%;
  float: left;
  box-sizing: border-box; }

.grid-small-8 {
  width: 63.33333%;
  margin-left: 2%;
  float: left;
  box-sizing: border-box; }

.grid-small-9 {
  width: 71.5%;
  margin-left: 2%;
  float: left;
  box-sizing: border-box; }

.grid-small-10 {
  width: 79.66667%;
  margin-left: 2%;
  float: left;
  box-sizing: border-box; }

.grid-small-11 {
  width: 87.83333%;
  margin-left: 2%;
  float: left;
  box-sizing: border-box; }

.grid-small-12 {
  width: 96%;
  margin-left: 2%;
  float: left;
  box-sizing: border-box; }

@media (min-width: 100px) {
  .grid-medium-1 {
    width: 6.16667%;
    margin-left: 2%;
    float: left;
    box-sizing: border-box; }
  .grid-medium-2 {
    width: 14.33333%;
    margin-left: 2%;
    float: left;
    box-sizing: border-box; }
  .grid-medium-3 {
    width: 22.5%;
    margin-left: 2%;
    float: left;
    box-sizing: border-box; }
  .grid-medium-4 {
    width: 30.66667%;
    margin-left: 2%;
    float: left;
    box-sizing: border-box; }
  .grid-medium-5 {
    width: 38.83333%;
    margin-left: 2%;
    float: left;
    box-sizing: border-box; }
  .grid-medium-6 {
    width: 47%;
    margin-left: 2%;
    float: left;
    box-sizing: border-box; }
  .grid-medium-7 {
    width: 55.16667%;
    margin-left: 2%;
    float: left;
    box-sizing: border-box; }
  .grid-medium-8 {
    width: 63.33333%;
    margin-left: 2%;
    float: left;
    box-sizing: border-box; }
  .grid-medium-9 {
    width: 71.5%;
    margin-left: 2%;
    float: left;
    box-sizing: border-box; }
  .grid-medium-10 {
    width: 79.66667%;
    margin-left: 2%;
    float: left;
    box-sizing: border-box; }
  .grid-medium-11 {
    width: 87.83333%;
    margin-left: 2%;
    float: left;
    box-sizing: border-box; }
  .grid-medium-12 {
    width: 96%;
    margin-left: 2%;
    float: left;
    box-sizing: border-box; } }

@media (min-width: 200px) {
  .grid-large-1 {
    width: 6.16667%;
    margin-left: 2%;
    float: left;
    box-sizing: border-box; }
  .grid-large-2 {
    width: 14.33333%;
    margin-left: 2%;
    float: left;
    box-sizing: border-box; }
  .grid-large-3 {
    width: 22.5%;
    margin-left: 2%;
    float: left;
    box-sizing: border-box; }
  .grid-large-4 {
    width: 30.66667%;
    margin-left: 2%;
    float: left;
    box-sizing: border-box; }
  .grid-large-5 {
    width: 38.83333%;
    margin-left: 2%;
    float: left;
    box-sizing: border-box; }
  .grid-large-6 {
    width: 47%;
    margin-left: 2%;
    float: left;
    box-sizing: border-box; }
  .grid-large-7 {
    width: 55.16667%;
    margin-left: 2%;
    float: left;
    box-sizing: border-box; }
  .grid-large-8 {
    width: 63.33333%;
    margin-left: 2%;
    float: left;
    box-sizing: border-box; }
  .grid-large-9 {
    width: 71.5%;
    margin-left: 2%;
    float: left;
    box-sizing: border-box; }
  .grid-large-10 {
    width: 79.66667%;
    margin-left: 2%;
    float: left;
    box-sizing: border-box; }
  .grid-large-11 {
    width: 87.83333%;
    margin-left: 2%;
    float: left;
    box-sizing: border-box; }
  .grid-large-12 {
    width: 96%;
    margin-left: 2%;
    float: left;
    box-sizing: border-box; } }
