/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: Helvetica, Arial, sans-serif; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

div {
  height: 100px;
  border: 1px solid black;
  line-height: 100px;
  text-align: center;
  margin: 20px 0; }

.button {
  width: 100px;
  height: 50px;
  color: white;
  border-radius: 10px;
  border: none;
  outline: none; }
  .button.-primary {
    background-color: green; }
    .button.-primary:hover {
      background-color: #003400; }
    .button.-primary:active {
      background-color: #00cd00; }
  .button.-secondary {
    background-color: blue; }
    .button.-secondary:hover {
      background-color: #0000b3; }
    .button.-secondary:active {
      background-color: #4d4dff; }

.button-mixin {
  width: 100px;
  height: 50px;
  color: white;
  border-radius: 10px;
  border: none;
  outline: none; }
  .button-mixin.-primary {
    background-color: green; }
    .button-mixin.-primary:hover {
      background-color: #003400; }
    .button-mixin.-primary:active {
      background-color: #00cd00; }
  .button-mixin.-secondary {
    background-color: blue; }
    .button-mixin.-secondary:hover {
      background-color: #0000b3; }
    .button-mixin.-secondary:active {
      background-color: #4d4dff; }
