@import "_reset.scss";

$color-container: #F90;
$color-column: #0F9;
$columns: 12;
$container-width: 1024px;

.row {
  margin: 0 auto;
  width: $container-width;
  background-color: $color-container;
  clear: both;
}

[class*='col-'] {
    min-height: 100px;
    background-color: $color-column;
    border: 1px solid #000;
    box-sizing: border-box;
    padding: 30px;
    float: left;
    text-align: center;
}

@for $i from 1 through $columns {
  .col-#{$i} { 
    width: ((100%/$columns) * $i);
    &:after {
      content: "col-" + $i;  
    }
  }
}