.btn {
  border-radius: 5px;
  background-color: #f90;
  color: #fff;
  padding: 10px;
  border: 1px;
}

#box {
  width: 200px;
  height: 100px;
  position: absolute;
  left: 200px;
  top: 100px;
  border: 1px #ccc dotted;
}

.warning {
  background-color: #f90;
}
